@import '../Scss/variables.scss';

.history {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;

    &__separator {
        z-index: 0;
        left: 0;
        margin: 11.9em 0 0 0;
    }

    &__cover {
        position: absolute;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        overflow: hidden;

        ._vertical {
            position: absolute;

            &:nth-child(1) {
                left: 0;
            }

            &:nth-child(2) {
                left: 50%;
            }

            &:nth-child(3) {
                right: 0;
            }
        }

        ._horizontal {
            position: absolute;
            z-index: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(90deg);
        }
    }

    &__title {
        font-size: 56px;
        line-height: 120%;
        max-width: 8em;
    }
}

.container {
    padding: 11.0625em 2.5em 0 4.6875em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
}

._title {
    color: $black-blue;
    font-family: $pt-sans;
    font-style: normal;
    font-weight: $bold;
}

.episode-switchers {
    &__next-button svg{
        // width: 100%;
    }

    &__prev-button svg{
        // width: 100%;
        // justify-content: center;
    }
}
