@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:wght@400;700&display=swap');

//fonts
$pt-sans: 'PT Sans';
$bebas-neue: 'Bebas Neue';
$regular: 400;
$bold: 700;

//colors
$black-blue: #42567A;
$fuschia: #EF5DA8;
$iris: #5D5FEF;
$white: #FFFFFF;
$blue: #3877EE;